.register{
    display: flex; 
     height: calc(100vh-50px);
     flex-direction: column;
     justify-content: centre;
     background:lineargradient(rgba(255,255,0.5),
     rgba(255,255,0.5)),url("https://images.unsplash.com/photo-1612835362596-4b7b7b0b2b0b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YmxhY2slMjBwb3N0JTIwY29sb3JmdWwlMjB3b3JsZHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80");
 background-size: cover;
 align-items: center;
 }
 .registerTitle{
     font-size: 50px;
     
 
 
 
 }
 .registerform{
     margin-top: 20px;
     display: flex;
    flex-direction: column;          
 
 }
 .registerform > label{
     font-size: 20px;
     margin: 20px 0;
 }
 .registerinput{
     border:none;
     border-bottom: 1px solid gray;
 padding:10px;
     background-color: white;
 }
 .registerbutton{
   margin-top: 20px;
   cursor: pointer;
     padding: 10px;
     bottom: none; 
     color:teal; 
     border-radius: 10px;
 }
 .registerloginbutton{
 position: absolute;
 top:60px;
 right:20px;
 background-color: lightcoral;
 cursor: pointer;
 padding: 10px;
 border:none;
 border-radius: 10px;
 }
