.sidebar{
    flex:3;
    display: flex;
   
    margin:20px;
    margin-left: 70%;
    padding-bottom:30px;
    background-color: aqua;
    border-radius: 10px;;
    flex-direction: column;
    align-items: center;
    /* cursor:pointer; */

}
.sidebarItem{
    display:flex;
    flex-direction:column;
    align-items: center;
    margin:5px;
    list-style: none;
    cursor:pointer;

}
.sidebarTitle{
    margin :10px;
    padding: 5px;
    width:80%;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    font-family: 'Varela Round', sans-serif;
    color: #222;
    font-weight: 600;
   font-size:12px;
    text-align: center;
    line-height: 20px;
}

.sidebar > img {
    margin-top: 15px;
}
.sidebar > p{
padding:30px;
}
.sidebarList{
    list-style: none;
    
    
}
.sidebarListItem{
   display: inline-block;
    width: 50%;
    margin-top: 15px;
    cursor: pointer;
}
.sidebarSocialIcon{
    /* width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover; */
    cursor: pointer;
}